{% verbatim %}
<div class="row">
         <h2 id=countryName>{{CountryNameBeingPassed}}</h2>
</div>
<div id="imageOveflow">
           <img id="flag" src="../static/images/flags_of_the_world/{{CountryNameBeingPassed}}.svg" />
      <div id="tableStuff">
        <table id="tableData" cellspacing="3">
           <tr>
              <th>QuantPolitik Score:</th>
            </tr>
            <tr>
             <td>{{QPScoreBeingPassed}}</td>
            </tr>
            <tr>
              <th>Population</th>
            </tr>
            <tr>
              <td>{{PopulationBeingPassed}}</td>
            </tr>
            <tr>
              <th>GDP</th>
            </tr>
            <tr>
              <td>${{GDPBeingPassed}}-Billion</td>
            </tr>
            <tr>
              <th>GDP Per Capita</th>
            </tr>
            </tr>
            <tr>
               <td>${{GDPPerCapitaBeingPassed}}</td>
             </tr>
            <tr>
              <th>HDI</th>
            </tr>
           <tr>
           <td>{{HDIBeingPassed}}</td>
           </tr>
           <tr>
              <th>Geographical Size</th>
            </tr>
            <tr>
             <td>{{SizeBeingPassed}}</td>
           </tr>
            <tr>
              <th>Presidential Interaction Score</th>
            </tr>
            <tr>
             <td>{{PresidentialScoreBeingPassed}}</td>
            </tr>
            <tr>
              <th>Governmental Perspective Score</th>
            </tr>
            <tr>
             <td>{{GPScoreBeingPassed}}</td>
            <tr>
              <th>Cultural Diffusion Score</th>
            </tr>
            <tr>
             <td>{{CDScoreBeingPassed}}</td>
           </tr>
            <tr>
              <th>Security Score</th>
            </tr>
            <tr>
            <td>{{SecurityScoreBeingPassed}}</td>
            </tr>
            <tr>
              <th>Secretary of State Interaction</th>
            </tr>
            <tr>
             <td>{{SecStateScoreBeingPassed}}</td>
            </tr>
            <tr>
              <th>Country Profile Score</th>
            </tr>
            <tr>
             <td>{{CProfileScoreBeingPassed}}</td>
            </tr>
            <tr>
              <th>Business Relations Score</th>
            </tr>
            <tr>
             <td>{{BRScoreBeingPassed}}</td>
            </tr>
            <tr>
              <th>Trade Score</th>
            </tr>
            <tr>
             <td>{{TradeScoreBeingPassed}}</td>
           </tr>
        </table>
      </div>
</div>
  <div class="col-sm-6">
    <br />
    <br />
    <div id="start" class="row">
    </div>
  </div>
  <div class="col-sm-3"></div>
  <svg id="GraphCountryD3"></svg>
  <div class="table-users">
    <country-angular data="countryGraphAPIData" countryNameBeingPassed="countryNameChosen"></country-angular>
</div>

    <!--
    $scope.CProfileScoreBeingPassed = CountryData[13]["CProfile_SCORE2"];
    $scope.BRScoreBeingPassed = CountryData[14]["BR_SCORE2"];
    $scope.TradeScoreBeingPassed = CountryData[15]["Trade_SCORE2"];
  -->
  <div id="twitter-container">
  </div>

</div>
{% endverbatim %}
