{% verbatim %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1 class="text-center">Welcome to QuantPolitik by Country!</h1>
    <br />
    <img src="../static/images/UN_General_Assembly_photo_4.jpg" style="width:70%" class="center-block"/>
    <br />
    <div id="start" class="row">
      <a href="#/start">
        <span>Begin Exploring QuantPolitik By Country</span>
        <span class="glyphicon glyphicon-play"></span>
      </a>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
{% endverbatim %}
