<!DOCTYPE HTML>
<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../static/assets/css/BRmain.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a id="Analysis" href="AreasofAnalysis"> &#8744; Areas of Analysis</a>
								<ul class="maList" style="user-select: text; display: list-item; list-style-type: none; float: left;position: absolute; padding: 8px 5px 3px 5px; background-color: #034a7f;">
									<li style="white-space: nowrap;"><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
									<li style="white-space: nowrap;"><a href="BusinessRelations">Business Relations</a></li>
									<li style="white-space: nowrap;"><a href="CountryProfile">Country Profile</a></li>
									<li style="white-space: nowrap;"><a href="CulturalDiffusion">Cultural Diffusion</a></li>
									<li style="white-space: nowrap;"><a href="GovernmentalPerspective">Gov Perspective</a></li>
									<li style="white-space: nowrap;"><a href="Prestige">Prestige</a></li>
									<li style="white-space: nowrap;"><a href="Security">Security</a></li>
									<li style="white-space: nowrap;"><a href="TradeRelations">Trade Relations</a></li>
								</ul>
							</li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>

				<div id="errythingElse">
				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>About The Team</h1>
							<p class="major"><!--[-->Lifelong New Yorkers, The QuantPolitik Team brings a refreshing breath of air to the NY Consultancy Scene!<!--]--></p>
							<ul class="actions vertical">
								<li><a href="references#Business Relations" class="button big wide smooth-scroll-middle">View the Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/MeSpeakingAtUN.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Josh Schenkein</h2>
							<p>This is where my cover letter will go.</p>
							<ul class="actions vertical">
								<li><a href="#" class="button">View My Resume</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/MeAlsoAtTheUN.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Ryan Greiss</h2>
							<p>Current Vice President of Puder PR, Ryan is an excellent skier and has mastered Colorado's highest peaks.</p>
							<ul class="actions vertical">
								<li><a href="https://www.linkedin.com/in/ryan-michael-greiss-456b2217/" class="button">My Resume</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/RyanG.jpg"  alt="" />
						</div>
					</section>

					<!-- Four -->
						<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
							<div class="content">
								<h2>Dylan Gross</h2>
								<p>One of the five best rappers alive, and extra thugnificent in the stats game. Word on the street is that he can divide by zero!</p>
								<ul class="actions vertical">
									<li><a href="#" class="button">View My Resume</a></li>
								</ul>
							</div>
							<div class="image">
								<img src="../static/images/DylanG.jpg" alt="" />
							</div>
						</section>
				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; 2017. QuantPolitik.</p>
						</div>
					</footer>

				</div>
			</div>
	<script src="../static/assets/js/d3.min.js"></script>
	<script src="../static/assets/js/DropdownButton.js"></script>
	</body>
</html>

<!--
	Inspired by HTML5 UP's Story html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
