<!DOCTYPE HTML>
<html>
	<head>
		<title>Areas of Analysis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../static/assets/css/BRmain.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a id="Analysis" href="AreasofAnalysis"> &#8744; Areas of Analysis</a>
								<ul class="maList" style="user-select: text; display: list-item; list-style-type: none; float: left;position: absolute; padding: 8px 5px 3px 5px; background-color: #034a7f;">
									<li style="white-space: nowrap;"><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
									<li style="white-space: nowrap;"><a href="BusinessRelations">Business Relations</a></li>
									<li style="white-space: nowrap;"><a href="CountryProfile">Country Profile</a></li>
									<li style="white-space: nowrap;"><a href="CulturalDiffusion">Cultural Diffusion</a></li>
									<li style="white-space: nowrap;"><a href="GovernmentalPerspective">Gov Perspective</a></li>
									<li style="white-space: nowrap;"><a href="Prestige">Prestige</a></li>
									<li style="white-space: nowrap;"><a href="Security">Security</a></li>
									<li style="white-space: nowrap;"><a href="TradeRelations">Trade Relations</a></li>
								</ul>
							</li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>

				<div id="errythingElse">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Areas of Analysis</h1>
							<p class="major"><!--[-->The area of analysis where over 30 indicators of a nation's business enviornment is evaluated.<!--]--></p>
							<ul class="actions vertical">
								<li><a href="references#Business Relations" class="button big wide smooth-scroll-middle">View the Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/kerryspeechAA.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Bureaucratic Exchange</h2>
							<p>The first of Business Relations is to evaluate the climate of starting a business, the concept being that the easier it is to start a business, the more likely people will do so,
								thus increasing ties between both nations.
								Ergo, the greater the likelihood of starting a new business, the greater potential trade will be, the more frequent, leaders will meet, and the lower the likelihood that war will break out-based on the "Capitalist Peace Theory".<br>
								Notable examples of poor climates, are the Indian license Raj, the "Brazil Cost", Consequently, data that evaluates the ease of starting a business is evaluated: <br>
								<a href="http://www.doingbusiness.org/data/exploretopics/starting-a-business">Starting a Business</a>, <a href="http://www.doingbusiness.org/data/exploretopics/dealing-with-construction-permits">Dealing with Construction Permits</a>, <a href="http://www.doingbusiness.org/data/exploretopics/getting-electricity">Getting Electricity</a>, <a href="http://www.doingbusiness.org/data/exploretopics/registering-property">Registering Property</a>, <a href="http://www.doingbusiness.org/data/exploretopics/registering-property">Registering Property</a>, <a href="http://www.doingbusiness.org/data/exploretopics/getting-credit">Getting Credit</a>, <a href="http://www.doingbusiness.org/data/exploretopics/resolving-insolvency">Resolving Insolvency</a></p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/G8BE.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Business Relations</h2>
							<p>In this area, the ease of operation for corporations are evaluated. The logic being that the easier it is for multinaionals and other corporations to operate, the more likely they are to do so. Consequently, rich and powerful corporate titans will take an interest in stable relations proliferating between both countries-lest their bottom lines are negatively impacted. <br>
								 Therefore, the components under consideration are: <br>
								 <a href="http://www.doingbusiness.org/data/exploretopics/paying-taxes">Paying Taxes</a>, <a href="http://www.doingbusiness.org/data/exploretopics/trading-across-borders">Trading Across Border</a>, <a href="http://www.doingbusiness.org/data/exploretopics/enforcing-contracts">Enforcing Contracts</a>, <a href="http://www.heritage.org/index/book/methodology#regulatory-efficiency">Business Freedom</a>, <a href="http://www.heritage.org/index/book/methodology#government-size">Corporate Tax Rate Percentage</a></p>
						</div>
						<div class="image">
							<img src="../static/images/BidenAfricaBR.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Country Profile</h2>
							<p>In this area, the ease of moving mony in and out of the country is evalauted, and how wll investors in the country are protected.
								The general idea being that with fewer barries to capital flows, more money will move in country and thus spur development.
								If it's easy to move capital in, and investors are protected, even more invstment is likely to flow, consequently bolstering business ties.<br>
								Therefore, the components under consideration are: <br>
								<a href="http://www.doingbusiness.org/data/exploretopics/protecting-minority-investors">Protecting Minority Investors</a>, <a href="http://www.heritage.org/index/monetary-freedom">Monetary Freedom</a>, <a href="http://www.heritage.org/index/fiscal-freedom">Fiscal Freedom</a>, <a href="http://www.heritage.org/index/investment-freedom">Investment Freedom</a>, <a href="http://www.heritage.org/index/financial-freedom">Financial Freedom</a>,
								<a href="https://siteresources.worldbank.org/INTPROSPECTS/Resources/334934-1199807908806/4549025-1450455807487/Factbookpart1.pdf">Remittances</a></p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/TInaugirationCP.jpg" alt="" />
						</div>
					</section>

				<!-- Five -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Cultural Diffusion</h2>
							<p>Here, the formula simply incorporates the <a href="http://www.doingbusiness.org/rankings">The World Bank's</a> Ease of Doing Business Rank-Overall Rank, and the <a href="http://www.heritage.org/index/ranking">Heritage Foundation's</a>Economic Freedom Rank</p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/Statue_of_Liberty,_NY.jpg" alt="" />
						</div>
					</section>

			<!-- Six -->
				<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>Governmental Perspective</h2>
						<p>In this area, the ease of moving mony in and out of the country is evalauted, and how wll investors in the country are protected.
							The general idea being that with fewer barries to capital flows, more money will move in country and thus spur development.
							If it's easy to move capital in, and investors are protected, even more invstment is likely to flow, consequently bolstering business ties.<br>
							Therefore, the components under consideration are: <br>
							<a href="http://www.doingbusiness.org/data/exploretopics/protecting-minority-investors">Protecting Minority Investors</a>, <a href="http://www.heritage.org/index/monetary-freedom">Monetary Freedom</a>, <a href="http://www.heritage.org/index/fiscal-freedom">Fiscal Freedom</a>, <a href="http://www.heritage.org/index/investment-freedom">Investment Freedom</a>, <a href="http://www.heritage.org/index/financial-freedom">Financial Freedom</a>,
							<a href="https://siteresources.worldbank.org/INTPROSPECTS/Resources/334934-1199807908806/4549025-1450455807487/Factbookpart1.pdf">Remittances</a></p>
						<ul class="actions vertical">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<div class="image">
						<img src="../static/images/marrianneGP.jpg" alt="" />
					</div>
				</section>

			<!-- Seven -->
				<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>Prestige</h2>
						<p>Here, the formula simply incorporates the <a href="http://www.doingbusiness.org/rankings">The World Bank's</a> Ease of Doing Business Rank-Overall Rank, and the <a href="http://www.heritage.org/index/ranking">Heritage Foundation's</a>Economic Freedom Rank</p>
						<ul class="actions vertical">
							<li><a href="#" class="button">Sources</a></li>
						</ul>
					</div>
					<div class="image">
						<img src="../static/images/EiffelTowerPrestige.jpg" alt="" />
					</div>
				</section>

			<!-- Eight -->
				<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>Security</h2>
						<p>In this area, the ease of moving mony in and out of the country is evalauted, and how wll investors in the country are protected.
							The general idea being that with fewer barries to capital flows, more money will move in country and thus spur development.
							If it's easy to move capital in, and investors are protected, even more invstment is likely to flow, consequently bolstering business ties.<br>
							Therefore, the components under consideration are: <br>
							<a href="http://www.doingbusiness.org/data/exploretopics/protecting-minority-investors">Protecting Minority Investors</a>, <a href="http://www.heritage.org/index/monetary-freedom">Monetary Freedom</a>, <a href="http://www.heritage.org/index/fiscal-freedom">Fiscal Freedom</a>, <a href="http://www.heritage.org/index/investment-freedom">Investment Freedom</a>, <a href="http://www.heritage.org/index/financial-freedom">Financial Freedom</a>,
							<a href="https://siteresources.worldbank.org/INTPROSPECTS/Resources/334934-1199807908806/4549025-1450455807487/Factbookpart1.pdf">Remittances</a></p>
						<ul class="actions vertical">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<div class="image">
						<img src="../static/images/CBGSec.jpg" alt="" />
					</div>
				</section>

				<!-- Nine -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Trade Relations</h2>
							<p>Here, the formula simply incorporates the <a href="http://www.doingbusiness.org/rankings">The World Bank's</a> Ease of Doing Business Rank-Overall Rank, and the <a href="http://www.heritage.org/index/ranking">Heritage Foundation's</a>Economic Freedom Rank</p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/ContainerShippingTR.jpg" alt="" />
						</div>
					</section>

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/QuantPolitik" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/woodsington" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.linkedin.com/in/josh-woods-65b26549/" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://github.com/cofax48/QuantPolitik" class="icon style2 fa-github"><span class="label">Github</span></a></li>
								<li><a href="cofax48@uchicago.edu" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; 2017. QuantPolitik.</p>
						</div>
					</footer>

				</div>
			</div>

	<script src="../static/assets/js/d3.min.js"></script>
	<script src="../static/assets/js/DropdownButton.js"></script>
	</body>
</html>

<!--
	Inspired by HTML5 UP's Story html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
