<!DOCTYPE HTML>
<html>
	<head>
		<title>Areas of Analysis - QuantPolitik - International Relations Analytics & Quantification of Bilateral Relations.</title>
		<meta charset="utf-8" />
		<meta name="description" content="The first, and revolutionary data analytics platform for the quantification of internations relations, political risk,
		bilateral relations, and diplomatic interaction. We're the first to quantify the qualitative world of international relations.
		Pioneers in political science data analytics." />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../static/assets/css/BRmain.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a id="Analysis" href="AreasofAnalysis"> &#8744; Areas of Analysis</a>
								<ul class="maList" style="user-select: text; display: list-item; list-style-type: none; float: left;position: absolute; padding: 8px 5px 3px 5px; background-color: #034a7f;">
									<li style="white-space: nowrap;"><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
									<li style="white-space: nowrap;"><a href="BusinessRelations">Business Relations</a></li>
									<li style="white-space: nowrap;"><a href="CountryProfile">Country Profile</a></li>
									<li style="white-space: nowrap;"><a href="CulturalDiffusion">Cultural Diffusion</a></li>
									<li style="white-space: nowrap;"><a href="GovernmentalPerspective">Gov Perspective</a></li>
									<li style="white-space: nowrap;"><a href="Prestige">Prestige</a></li>
									<li style="white-space: nowrap;"><a href="Security">Security</a></li>
									<li style="white-space: nowrap;"><a href="TradeRelations">Trade Relations</a></li>
								</ul>
							</li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>

				<div id="errythingElse">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Areas of Analysis</h1>
							<p class="major"><!--[-->8 Major domains comprise QuantPolitik's evaluation of the strength of any country's bilateral relationship with the United States. Below is a brief overview of each domain.<!--]--></p>
						</div>
						<div class="image">
							<img src="../static/images/kerryspeechAA.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Bureaucratic Exchange</h2>
							<p>This domain evaluates how frequently the leaders of the United States interact with top-level personnel from each evaluated country. The more frequently US leaders interact with a certain country's leadership, and the higher the level of interaction, the higher a country's score will be in this domain.
							This measurement reflects the concept that close friends and allies, meet frequently and at the highest levels.</p>
						</div>
						<div class="image">
							<img src="../static/images/G8BE.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Business Relations</h2>
							<p>This domain measures how easy it is for a company to do business in any particular country. The theory being that the easier it is to business the closer the business relationship will be, thus leading to closer economic and diplomatic ties, consequently strengthening the bilateral relationship.</p>
						</div>
						<div class="image">
							<img src="../static/images/BidenAfricaBR.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Country Profile</h2>
							<p>The area of analysis where core aspects, namely the size, wealth, and simmilarities of a country's identity are evaluated.</p>
						</div>
						<div class="image">
							<img src="../static/images/TInaugirationCP.jpg" alt="" />
						</div>
					</section>

				<!-- Five -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Cultural Diffusion</h2>
							<p>This area mainly evaluates population transfers, whether immigrant or tourist based, the ease at which such populations may transfer, and two proxy measurements for Americanization.</p>
						</div>
						<div class="image">
							<img src="../static/images/Statue_of_Liberty,_NY.jpg" alt="" />
						</div>
					</section>

			<!-- Six -->
				<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>Governmental Perspective</h2>
						<p>Here is where the “freedom credentials” of each country are evaluated. Political freedom, press freedom, freedom from corruption and other areas are evaluated. Freedom isn’t held in high regard because America is “free,” rather the concept is that free societies are less likely to do things that are going to upset the other country. Countries with respect for human right create fewer problems for their citizens, citizens of other countries and other governments, there’s less to complain about and therefore less to dampen a countries relationship.</p>
					</div>
					<div class="image">
						<img src="../static/images/marrianneGP.jpg" alt="" />
					</div>
				</section>

			<!-- Seven -->
				<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>Prestige</h2>
						<p>This area measures how many Nobel Prizes and Olympic Medals each country has won, in addition to the number of billionaires calling each country home. The idea being that a country with a high prestige score has wealth, science and sport-consequently they a proud of their accomplishments and are less likely to cower and are more likely to take responsibility in the international arena-raising the value of their friendship.</p>
					</div>
					<div class="image">
						<img src="../static/images/EiffelTowerPrestige.jpg" alt="" />
					</div>
				</section>

			<!-- Eight -->
				<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>Security</h2>
						<p>In this domain, America’s Security relationships are evaluated, taking into account, which countries host US Military forces, whether or not they enhance or subtract from their Security environment, their potential for aggressive confrontation and shared multilateral organization. This domain seeks to evaluate whether or not the selected country is powerful or not and if they are receptive to US military Interests. High scorers are powerful and capable nations that are receptive to US interests, while low scorers are weak countries that are less receptive to US forces.</p>
					</div>
					<div class="image">
						<img src="../static/images/CBGSec.jpg" alt="" />
					</div>
				</section>

				<!-- Nine -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Trade Relations</h2>
							<p>The area of analysis where a nation's receptiveness to trade and the the previous half decade's trading volume is evaluated.</p>
						</div>
						<div class="image">
							<img src="../static/images/ContainerShippingTR.jpg" alt="" />
						</div>
					</section>

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/QuantPolitik" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/woodsington" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.linkedin.com/in/josh-woods-65b26549/" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://github.com/cofax48/QuantPolitik" class="icon style2 fa-github"><span class="label">Github</span></a></li>
								<li><a href="mailto:cofax48@uchicago.edu?Subject=QuantPolitik%20Discussion" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; 2017. QuantPolitik.</p>
						</div>
					</footer>

				</div>
			</div>

	<script src="../static/assets/js/d3.min.js"></script>
	<script src="../static/assets/js/DropdownButton.js"></script>
	</body>
</html>

<!--
	Inspired by HTML5 UP's Story html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
