<!DOCTYPE HTML>
<html>
	<head>
		<title>Bureaucratic Exchange</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../static/assets/css/BRmain.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a id="Analysis" href="AreasofAnalysis"> &#8744; Areas of Analysis</a>
								<ul class="maList" style="user-select: text; display: list-item; list-style-type: none; float: left;position: absolute; padding: 8px 5px 3px 5px; background-color: #034a7f;">
									<li style="white-space: nowrap;"><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
									<li style="white-space: nowrap;"><a href="BusinessRelations">Business Relations</a></li>
									<li style="white-space: nowrap;"><a href="CountryProfile">Country Profile</a></li>
									<li style="white-space: nowrap;"><a href="CulturalDiffusion">Cultural Diffusion</a></li>
									<li style="white-space: nowrap;"><a href="GovernmentalPerspective">Gov Perspective</a></li>
									<li style="white-space: nowrap;"><a href="Prestige">Prestige</a></li>
									<li style="white-space: nowrap;"><a href="Security">Security</a></li>
									<li style="white-space: nowrap;"><a href="TradeRelations">Trade Relations</a></li>
								</ul>
							</li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>
				<div id="errythingElse">
				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" id="zero">
						<div class="content">
							<h1>Bureaucratic Exchange</h1>
							<p class="major"><!--[--> <!--]--></p>
						</div>
						<div class="image">
							<img src="../static/images/BidenAfricaBR.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Secretary of State</h2>
							<p>In this category, the meetings and interactions of the Secretary of State are analyzed and quantified.
								If the Secretary met with the Head of State and/or Government for any country, then that country gains
								2 points for each day that such a meeting occurred. If the Secretary met with a Government Minister/Secretary,
								 then that country gains 1 point for each day that such a meeting occurred. And if the Secretary or President
								 attends a State Dinner or Hosts one, then that country gains 5 points. If the Secretary/President attends
								 a multilateral institution’s event (G-20 Summit, G-7, NATO, etc.) then all participant member states gain
								 1 point for such an event. If the President/Secretary holds a bilateral meeting during such proceedings,
								 the country with which the President/Secretary held the meeting gains an additional point. The logic behind
								 this data variable is identical to that of the President.</p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/KerryWEFBR.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="three">
						<div class="content">
							<h2>Presidential Exchange</h2>
							<p>This area is pretty straightforward, the more often the president of the United States meets with a
								certain country’s leaders the more important they are to the United States. Additionally the more times
								they meet usually reflects common membership in multilateral organizations, thus reflecting further
								their similarities. </p>
						</div>
						<div class="image">
							<img src="../static/images/HongKongBR.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="four">
						<div class="content">
							<h2>Vice Presidential Exchange</h2>
							<p>This area is pretty straightforward, the more often the president of the United States meets with a
								 certain country’s leaders the more important they are to the United States. Additionally the more times
								 they meet usually reflects common membership in multilateral organizations, thus reflecting further
								 their similarities.</p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/LondonStockExchangeBR.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in", id="five">
						<div class="content">
							<h2>Vice Presidential Exchange</h2>
							<p>Here, the formula simply incorporates the <a href="http://www.doingbusiness.org/rankings">The World Bank's</a> Ease of Doing Business Rank-Overall Rank, and the <a href="http://www.heritage.org/index/ranking">Heritage Foundation's</a>Economic Freedom Rank</p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/pharma-life-sciences-stocks.jpg" alt="" />
						</div>
					</section>


				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; 2017. QuantPolitik.</p>
						</div>
					</footer>

			</div>
			</div>

	<script src="../static/assets/js/d3.min.js"></script>
	<script src="../static/assets/js/DropdownButton.js"></script>
	</body>
</html>

<!--
	Inspired by HTML5 UP's Story html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
