<!DOCTYPE HTML>
<html>
	<head>
		<title>Country Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../static/assets/css/BRmain.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a id="Analysis" href="AreasofAnalysis"> &#8744; Areas of Analysis</a>
								<ul class="maList" style="user-select: text; display: list-item; list-style-type: none; float: left;position: absolute; padding: 8px 5px 3px 5px; background-color: #034a7f;">
									<li style="white-space: nowrap;"><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
									<li style="white-space: nowrap;"><a href="BusinessRelations">Business Relations</a></li>
									<li style="white-space: nowrap;"><a href="CountryProfile">Country Profile</a></li>
									<li style="white-space: nowrap;"><a href="CulturalDiffusion">Cultural Diffusion</a></li>
									<li style="white-space: nowrap;"><a href="GovernmentalPerspective">Gov Perspective</a></li>
									<li style="white-space: nowrap;"><a href="Prestige">Prestige</a></li>
									<li style="white-space: nowrap;"><a href="Security">Security</a></li>
									<li style="white-space: nowrap;"><a href="TradeRelations">Trade Relations</a></li>
								</ul>
							</li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>

				<div id="errythingElse">
				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Country Profile</h1>
							<p class="major"><!--[-->The area of analysis where core aspects, namely the size, wealth, and simmilarities of a country's identity are evaluated.<!--]--></p>
							<ul class="actions vertical">
								<li><a href="references#Business Relations" class="button big wide smooth-scroll-middle">View the Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/TInaugirationCP.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>People Power</h2>
							<p>In this section 3 key areas are evaluated. <a href="https://en.wikipedia.org/wiki/Regional_power">How powerful a country is</a>, how <a href="https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependencies_by_area">big it is</a> geographically, and how many <a href="https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)">citizens</a> it has.<br>
                The idea is quite simple, the bigger a country is the more impotant it is, and the greater the nessescity in maintaining close ties. This is not to say that small countries are unimportant, but rather that all things being equal-the larger the country the greater the desire for interaction.</p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/KhanIslamabadLongMarch.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Financial Power</h2>
							<p>In this area, major developmental indicators are evaluated. The logic is that the wealthier and more developed a country is, the mor eit will hav to offer vis-a-vis trade and as an attractive investment destination.
                By including developmental clout, this area serves as either a counterpoint or force multiplier to the previous area of size. Since a small rich country can balance out a big poor country (Singapore vs. DRC), but a big rich country (Germany) vastly outperforms a small poor one (Burundi).<br>
								 Therefore, the components under consideration are: <br>
								  <a href="http://data.worldbank.org/indicator/NY.GDP.MKTP.PP.CD">GDP in Billions at PPP</a>, <a href="http://data.worldbank.org/indicator/NY.GDP.MKTP.KD.ZG">5 Year GDP Growth Rate in Percentage</a>, <a href="http://data.worldbank.org/indicator/NY.GDP.PCAP.PP.CD">GDP per Capita in PPP</a>, <a href="http://data.worldbank.org/indicator/SL.UEM.TOTL.ZS">Unemployment in Percent</a>, <a href="http://data.worldbank.org/indicator/GC.DOD.TOTL.GD.ZS">Public Debt as Percentage of GDP</a>, <a href="http://hdr.undp.org/en/data">Human Development Index</a></p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/shanghai-skyline.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Global Commonalities</h2>
							<p>This section evaluates a couple disparate domains:<br>
								<a href="https://en.wikipedia.org/wiki/List_of_official_languages_by_country_and_territory">Same language, <a href="http://www.pewglobal.org/database/indicator/1/survey/all/">Opinion of the US</a>, <a href="http://www.trade.gov/fta/">Free Trade Agreements</a>, <a href="https://en.wikipedia.org/wiki/International_use_of_the_U.S._dollar">Shared Currency</a>.<br>
              The logic here is that countries with the same lanaguage are more likely to engage one another. If they share the same currency, their foturnes are closely tied, and if they have a favorable approval of another, then the possibilities of cooperation increase even further.</p>
						</div>
						<div class="image">
							<img src="../static/images/afghan-us-dollar.jpg" alt="" />
						</div>
					</section>



				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; 2017. QuantPolitik.</p>
						</div>
					</footer>

			</div>
			</div>

			<script src="../static/assets/js/d3.min.js"></script>
			<script src="../static/assets/js/DropdownButton.js"></script>
	</body>
</html>

<!--
	Inspired by HTML5 UP's Story html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
