<!DOCTYPE HTML>
<html>
	<head>
		<title>Cultural Diffusion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../static/assets/css/BRmain.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a id="Analysis" href="AreasofAnalysis"> &#8744; Areas of Analysis</a>
								<ul class="maList" style="user-select: text; display: list-item; list-style-type: none; float: left;position: absolute; padding: 8px 5px 3px 5px; background-color: #034a7f;">
									<li style="white-space: nowrap;"><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
									<li style="white-space: nowrap;"><a href="BusinessRelations">Business Relations</a></li>
									<li style="white-space: nowrap;"><a href="CountryProfile">Country Profile</a></li>
									<li style="white-space: nowrap;"><a href="CulturalDiffusion">Cultural Diffusion</a></li>
									<li style="white-space: nowrap;"><a href="GovernmentalPerspective">Gov Perspective</a></li>
									<li style="white-space: nowrap;"><a href="Prestige">Prestige</a></li>
									<li style="white-space: nowrap;"><a href="Security">Security</a></li>
									<li style="white-space: nowrap;"><a href="TradeRelations">Trade Relations</a></li>
								</ul>
							</li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>
				<div id="errythingElse">
				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Cultural Diffusion</h1>
							<p class="major"><!--[-->This area mainly evaluates population transfers, whether immigrant or tourist based, the ease at which such populations may transfer, and two proxy measurements for Americanization.<!--]--></p>
							<ul class="actions vertical">
								<li><a href="references#Business Relations" class="button big wide smooth-scroll-middle">View the Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/Statue_of_Liberty,_NY.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Ease of Travel</h2>
							<p>Here two key aspects of travel are considered:<br>
                <a hef="https://en.wikipedia.org/wiki/Visa_requirements_for_United_States_citizens">What are the visa requirements for US citizens to visit each country</a>, and the total number of non-immigrant arrivals to the US.<br>
							The logic behind both areas is fairly simple, if it's easy for Americans to visit that country, more of them will do so, thus reflecting currently close ties and offering the prospect of closer ties in the future. While valauting how many citizens of other countries come here, reflects how easy it is for foreigners to come-reflecting current ties and the more who come- the important relations with that country are lest tourism derived dollars suffer. </p>
						</div>
						<div class="image">
							<img src="../static/images/13-american-airports-where-it-takes-forever-to-get-through-customs.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Americana Abroad</h2>
							<p>In this area, only two aspects of Americana are evaluated: <br>
								  The number of <a href="https://en.wikipedia.org/wiki/List_of_countries_with_McDonald%27s_restaurants">McDonalds</a> and <a href="https://opendata.socrata.com/Business/All-Starbucks-Locations-in-the-World-Point-Map/7sg8-44ed?_ga=1.93541853.1197251441.1365557881">Starbucks</a> locations abroad.
								Both companies are used as proxies for the penetration of Ameican capitalism, the ease of expansion for an American company, how receptive each country is to highly Americanized products, and their consumption of overt Americana. -In later versions of the QuantPolitik project, movie reciepts annualized per country, and direct flights between countries will also be included.</p>
						</div>
						<div class="image">
							<img src="../static/images/McDonaldsKuwait.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Immigration to the United States</h2>
							<p>This section simply evaluates the number of immigrants to th United States for the past five years. Later versions of QuantPolitik will also incorporate the number of Americans living abroad in each country.<br></p>
						</div>
						<div class="image">
							<img src="../static/images/citizens-us.jpg" alt="" />
						</div>
					</section>

				<!-- Five -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Ulterior Interaction</h2>
							<p>Here the number of tourists, exchange students, and temporary workers are evaluated. The logic for their inclusion being the more people who come to study, explore, and work, the greater their affinity will be for the country. Consquently, this affinity can become manifest in a multitude of other areas, all of which increase ties between both nations.<br>
								 </p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/monalisa.jpg" alt="" />
						</div>
					</section>

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/QuantPolitik" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/woodsington" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.linkedin.com/in/josh-woods-65b26549/" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://github.com/cofax48/QuantPolitik" class="icon style2 fa-github"><span class="label">Github</span></a></li>
								<li><a href="cofx48@uchicago.edu" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; 2017. QuantPolitik.</p>
						</div>
					</footer>

			</div>
			</div>

	<script src="../static/assets/js/d3.min.js"></script>
	<script src="../static/assets/js/DropdownButton.js"></script>
	</body>
</html>

<!--
	Inspired by HTML5 UP's Story html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
