<!DOCTYPE HTML>
<html>
	<head>
		<title>DataDashBoard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/extraNewDashboard.css" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">
				<div id="title"> QuantPolitik's Data Dashboard</div>
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="AreasofAnalysis">Areas of Analysis</a></li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>

				<!-- Header -->
					<header id="header">
						<div id="reportrange" class="pull-right"></div>
						<div class="content">
							<div class="inner">
								<svg id="ChoroplethMap" style="width:120%;height:10%" />
							</div>
						</div>
						<div id="CountryInfoboxDisplay"></div>
						<div>
							<h2>Click on a button below to explore the area's analytics!</h2>
						<nav>
							<div id="controls" align="top"/>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Elements -->
							<article id="elements">
								<h2 class="major">Elements</h2>

								<section>
									<h3 class="major">Buttons</h3>
									<ul class="actions">
										<li><a href="#" class="button special">Special</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button">Default</a></li>
										<li><a href="#" class="button small">Small</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button special icon fa-download">Icon</a></li>
										<li><a href="#" class="button icon fa-download">Icon</a></li>
									</ul>
									<ul class="actions">
										<li><span class="button special disabled">Disabled</span></li>
										<li><span class="button disabled">Disabled</span></li>
									</ul>
								</section>

							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="../static/assets/js/COUNTRY_JSON_AUTHORITATIVE.js"></script>
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/extraDashmain.js"></script>
			<script src="../static/assets/js/d3.min.js"></script>
			<script src="../static/assets/js/topojson.min.js"></script>
			<!--<script href="//cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>-->
			<script src=https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js></script>
			<script src="../static/assets/js/mapButtonsAndData.js"></script>
			<!--Inspired in part by the dimension template by HTML5 UP @ajlkn CCA 3.0 license-->
	</body>
</html>
