<!DOCTYPE HTML>
<html>
	<head>
		<title>Governmental Perspective</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../static/assets/css/BRmain.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a id="Analysis" href="AreasofAnalysis"> &#8744; Areas of Analysis</a>
								<ul class="maList" style="user-select: text; display: list-item; list-style-type: none; float: left;position: absolute; padding: 8px 5px 3px 5px; background-color: #034a7f;">
									<li style="white-space: nowrap;"><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
									<li style="white-space: nowrap;"><a href="BusinessRelations">Business Relations</a></li>
									<li style="white-space: nowrap;"><a href="CountryProfile">Country Profile</a></li>
									<li style="white-space: nowrap;"><a href="CulturalDiffusion">Cultural Diffusion</a></li>
									<li style="white-space: nowrap;"><a href="GovernmentalPerspective">Gov Perspective</a></li>
									<li style="white-space: nowrap;"><a href="Prestige">Prestige</a></li>
									<li style="white-space: nowrap;"><a href="Security">Security</a></li>
									<li style="white-space: nowrap;"><a href="TradeRelations">Trade Relations</a></li>
								</ul>
							</li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>

				<div id="errythingElse">
				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Governmental Perspective</h1>
							<p class="major"><!--[-->Here is where the “freedom credentials” of each country are evaluated. Political freedom, press freedom, freedom from corruption and other areas are evaluated.
								Freedom isn’t held in high regard because America is “free,” rather the concept is that free societies are less likely to do things that are going to upset the other country.
								Countries with respect for human right create fewer problems for their citizens, citizens of other countries and other governments, there’s less to complain about and therefore less to dampen a countries relationship. <!--]--></p>
						</div>
						<div class="image">
							<img src="../static/images/marrianneGP.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Political Climate</h2>
							<p>On one hand the "<a href="https://en.wikipedia.org/wiki/Democratic_peace_theory">Democratic Peace Theory</a>," stipulates that democracies don’t go to war with one another.
								Consequently, the more democratic any country is, the less likely they are to engage in hostilities with the United States.
								The other aspect is that people are passionate and excitable about human rights abuses,
								when bilateral meetings occur between an open and liberal regime and a closed/illiberal regime,
								the liberal regime faces pressure to bring up human rights as a Cause célèbre (Pussy Riot in Russia,
								<a href="https://www.ft.com/content/c8de815e-d2d8-11df-9166-00144feabdc0">Liu Xiaobo</a> in China).
								These differences lead to tension and friction which serves to undermine ties-if both countries have the same
								world view-reporters and publics are less likely to espouse opposing view points-thus avoiding either country “on the spot.”
								Therefore, the areas chosen for evaluation are <a href="https://freedomhouse.org/report-types/freedom-world">Political Freedom</a>-which measures how great ones ability is to exercise their rights and avoid oppression.
								<a href="https://freedomhouse.org/report-types/freedom-world">Civil Liberties</a> measures how many rights and freedoms individuals have in each country,
								while the <a href="https://freedomhouse.org/report-types/freedom-world">Freedom Status</a>, <a href="http://www.heritage.org/index/">Freedom from Corruption</a>, <a href="https://rsf.org/en/ranking">Press Freedom Rank</a> measure specific freedoms that are essential to  vibrant democracy, the higher a country scores on these ranks-the less squishy any interactions between the countries become.
								<a href="http://www.politicalterrorscale.org/About/">The Political Terror Scale</a> measures violence and physical oppression on the part of the state-if a country is murdering its citizens or is dangerous for people to travel to-it creates an obvious impediment to closer ties.
 						</p>
						</div>
						<div class="image">
							<img src="../static/images/BerlinwallGP.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Zeitgeist</h2>
							<p>This area looks at what are the values and priorities of a country in a soft-power perspective.
								Does the country want “to do good” in the world, and be a productive contributing member of the global commons or do they think let someone else handle it?
								If the country strives to be a “team player” many more countries will want that country on their “team” as
								such a state would be inclined to set up scientific joint ventures, charitable missions, and would
								increase the likelihood of interaction in multiple more domains.
								Therefore, the <a href="https://www.cafonline.org/about-us/publications/2016-publications/caf-world-giving-index-2016">World Giving Index</a>,
								and Simon Anholt’s <a href="https://goodcountry.org/index/overall-rankings">measurements</a> of “Science and Technology”, “Culture”,
								“Prosperity and Equality”, “Health and Wellbeing,”
								serve as good proxies for a country’s priorities in this domain.</p>
						</div>
						<div class="image">
							<img src="../static/images/usaidGP.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Financial Climate</h2>
							<p>While the above sections evaluated the political openness,
								financial freedom can be equally important in establishing ties and cementing relationships.
								Since if a country is financially impenetrable or requires excessive costs to break into,
								and hosts an opaque regulatory regime, few investors may be inclined to export capital to such a country,
								consequently limiting the scope for further ties. However, if a market is especially open and transparent,
								and hand of the government is neither odious nor onerous then the costs of investment will be minimal and
								avenues of interaction will spring in multiple venues. In this vein the subsequent variables were chosen
								as proxies for this position. <a href="https://www.cia.gov/library/publications/the-world-factbook/rankorder/2172rank.html">Gini Coefficient</a>
								-as a measurement of economic equality and a leveled playing field.
								 <a href="http://www.heritage.org/index/">Labor Freedom</a>-as a measurement of worker mobility and a lack of corporate ossification,
								 <a href="http://www.heritage.org/index/">Tariff Rate</a>-as a measurement of national economic liberality,
								 <a href="http://www.heritage.org/index/">Income Tax Rate</a>-as a measurement of a
								 government’s weight upon its denizens, and <a href="http://www.heritage.org/index/">Tax Burden as Percent of GDP</a> as a capturing of the “<a href="https://en.wikipedia.org/wiki/Laffer_curve">Laffer curve</a>.”
							 </p>
						</div>
						<div class="image">
							<img src="../static/images/stampDuty.jpg" alt="" />
						</div>
					</section>

			<!-- Five -->
				<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>Global Climate</h2>
						<p>This domain evaluates more of Simon Anholt’s <a href="https://goodcountry.org/index/overall-rankings">measurements</a> and
							how a country’s overall perspective of their priorities can be evaluated.
							Therefore Anholt’s analysis the Good Country Overall Score, International Peace and Security, World Order,
							Planet and Climate are included in this category.</p>
					</div>
					<div class="image">
						<img src="../static/images/SimonAnholtGoodCountryGP.jpg" alt="" />
					</div>
				</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>United Nations</h2>
							<p>Arguably this-<a href="http://www.state.gov/documents/organization/82642.pdf">a measurement of voting correlation with the United States at the United Nations</a>
								is the single most important variable for determining a country’s “closeness” or “relationship”
								with another country. As all types of issues are discussed at the UN,
								therefore a high score in this category implies that both countries see eye-to-eye,
								a long list of different issue areas and that both countries are willing to take the same position publicly
								and where it counts. While countries with a low score disagree on
								a multitude of different issue areas-therefore serving as a emblem of weaker ties.</p>
						</div>
						<div class="image">
							<img src="../static/images/UN_General_Assembly_photo_4.jpg" alt="" />
						</div>
					</section>

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/QuantPolitik" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/woodsington" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.linkedin.com/in/josh-woods-65b26549/" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://github.com/cofax48/QuantPolitik" class="icon style2 fa-github"><span class="label">Github</span></a></li>
								<li><a href="cofx48@uchicago.edu" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; 2017. QuantPolitik.</p>
						</div>
					</footer>

				</div>
			</div>

	<script src="../static/assets/js/d3.min.js"></script>
	<script src="../static/assets/js/DropdownButton.js"></script>
	</body>
</html>

<!--
	Inspired by HTML5 UP's Story html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
