<!DOCTYPE HTML>
<html>
	<head>
		<title>QuantPolitik</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header" class="alt">
			  <h1><a href="https://www.linkedin.com/in/josh-woods-65b26549/">QuantPolitik</a> by Josh Schenkein</h1>
			  <nav id="nav">
			    <ul>
			      <li><a href="">Home</a></li>
			      <li><a href="TheAlgorithm">The Algorithm</a></li>
				    <li><a href="about">About Us</a></li>
			      <li><a href="TheTech">QuantPolitik Tech</a></li>
			      <li>
			        <a href="AreasofAnalysis" class="icon fa-angle-down">Areas of Analysis</a>
			        <ul>
								<li><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
			          <li><a href="BusinessRelations">Business Relations</a></li>
			          <li><a href="CountryProfile">Country Profile</a></li>
			          <li><a href="CulturalDiffusion">Cultural Diffusion</a></li>
			          <li><a href="GovernmentalPerspective">Gov Perspective</a></li>
			          <li><a href="Prestige">Prestige</a></li>
			          <li><a href="Security">Security</a></li>
			          <li><a href="TradeRelations">Trade Relations</a></li>
			        </ul>
			      </li>
			      <li><a href="datadashboard" class="button">Data Dashboard</a></li>
			    </ul>
			  </nav>
			</header>

			<!-- Banner -->
				<section id="banner">
					<h2>QuantPolitik</h2>
					<p>A New Political Risk Consultancy and Analytics Platform Specializing in the Quantification of International Relations,
						and the Analysis of Bilateral Relations.</p>
					<ul class="actions">
						<li><a href="datadashboard" class="button special">Explore the Data</a></li>
						<li><a href="AreasofAnalysis" class="button">Learn More</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing a Revolutionary Quantification Metric
							<br />
							for Analyzing America's Bilateral Relationships With The World</h2>
							<p>Below is a Choropleth Map Representing the First Attempt to Quantify International Relations</p>
							<p>Each Number Reflects America's QuantPolitik Score of its Bilateral Relationship With That Country</p>
						</header>
						<span class="image featured"><svg id="ChoroplethMap" style="width:100%;height:100%;border:1px lightgray solid;" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>What a QuantPolitik Score Shows?</h3>
								<p>QuantPolitik is a dynamic score generated by 147 unique data points that measure hard and soft power, economic and cultural exchange, as well as diplomatic interaction.</p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>What We Do At QuantPolitik?</h3>
								<p>At QuantPolitik, we draw on the resources of think-tanks, institutions, governments and the media to provide detailed analysis on the political risk, resultant from America's relationship with any and all nations.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<h3>Who We Are</h3>
								<p>We are-Me: Josh Schenkein. A Graduate of the University of Chicago. The Creator of the QuantPolitik Score. The Founder & CEO of QuantPolitik Consulting. And the Budding Python/Javascript Data Scientist.
								<!-- Once they actually do something, I'll include them
								<br>Ryan Griess. A Graduate of Georgetown and the Chief of Communications for QuantPolitik.
								<br>Dylan Gross. A Graduate of Brooklyn College and the Chief Statistican for QuantPolitik.
							--></p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>What We Offer</h3>
								<p>We offer unlimited access to the basic features of this website and specialized access to our consulting services and our political risk analysis.</p>
							</section>
						</div>
					</section>

					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="../static/images/pic02.jpg" alt="" /></span>
								<h3>Explore the Data</h3>
								<p>All of our data is open source and free to explore-we've even provided the tools to do so! Graph Nigeria's Economic Competitiveness, or see how many time the Secretary of State visited France. It's all here!</p>
								<ul class="actions">
									<li><a href="datadashboard" class="button alt">Explore!</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="../static/images/pic03.jpg" alt="" /></span>
								<h3>Where Our Data Comes From</h3>
								<p>QuantPolitik's data comes from a variety of sources, The WorldBank, The UN, The Heritage Foundation, The Whitehouse, while some is generated by us directly in the cloud!</p>
								<ul class="actions">
									<li><a href="AreasofAnalysis" class="button alt">Explore the Project!</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Sign up to stay up to date with all of QuantPolitik's latest developments!</h2>
					<form>

						<script>
						  window.fbAsyncInit = function() {
						    FB.init({
						      appId      : '421530684887392',
						      cookie     : true,
						      xfbml      : true,
						      version    : 'v2.8'
						    });
						    FB.AppEvents.logPageView();
						  };

						  (function(d, s, id){
						     var js, fjs = d.getElementsByTagName(s)[0];
						     if (d.getElementById(id)) {return;}
						     js = d.createElement(s); js.id = id;
						     js.src = "//connect.facebook.net/en_US/sdk.js";
						     fjs.parentNode.insertBefore(js, fjs);
						   }(document, 'script', 'facebook-jssdk'));


							function checkLoginState() {
							  FB.getLoginStatus(function(response) {
							    statusChangeCallback(response);
							  });
							}
						</script>
						<fb:login-button
							scope="public_profile,email"
							onlogin="checkLoginState();">
						</fb:login-button>
						<div
					class="fb-like"
					data-share="true"
					data-width="450"
					data-show-faces="true">
				</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/woodsington" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://github.com/cofax48/QuantPolitik" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; QuantPolitik. All rights reserved.</li><li>QuantPolitik: by <a href="https://www.facebook.com/woodsington">Josh Woods</a></li>
					</ul>
				</footer>

		</div>

		<!--CDN Stuff-->
		<script src="../static/assets/js/d3.min.js"></script>
		<script src="../static/assets/js/topojson.min.js"></script>
		<!--<script href="//cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>-->
		<script src=https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js></script>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/assets/js/jquery.scrollgress.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/colorbrewer.js"></script>
			<script src="../static/assets/js/QPCoreChoroplethMap.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
