<!DOCTYPE HTML>
<html>
	<head>
		<title>Prestige</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../static/assets/css/BRmain.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a id="Analysis" href="AreasofAnalysis"> &#8744; Areas of Analysis</a>
								<ul class="maList" style="user-select: text; display: list-item; list-style-type: none; float: left;position: absolute; padding: 8px 5px 3px 5px; background-color: #034a7f;">
									<li style="white-space: nowrap;"><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
									<li style="white-space: nowrap;"><a href="BusinessRelations">Business Relations</a></li>
									<li style="white-space: nowrap;"><a href="CountryProfile">Country Profile</a></li>
									<li style="white-space: nowrap;"><a href="CulturalDiffusion">Cultural Diffusion</a></li>
									<li style="white-space: nowrap;"><a href="GovernmentalPerspective">Gov Perspective</a></li>
									<li style="white-space: nowrap;"><a href="Prestige">Prestige</a></li>
									<li style="white-space: nowrap;"><a href="Security">Security</a></li>
									<li style="white-space: nowrap;"><a href="TradeRelations">Trade Relations</a></li>
								</ul>
							</li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>

				<div id="errythingElse">
				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Prestige</h1>
							<p class="major"><!--[-->This area measures how many Nobel Prizes and Olympic Medals each country has won,
								in addition to the number of billionaires calling each country home. The idea being that a country with a high prestige score has wealth,
								science and sport-consequently they a proud of their accomplishments and are less likely to cower and are more
								likely to take responsibility in the international arena-raising the value of their friendship.<!--]--></p>
						</div>
						<div class="image">
							<img src="../static/images/EiffelTowerPrestige.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Olympics</h2>
							<p>For the past century, the <a href="https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table">Olympics</a> have been the premiere tool for countries to showcase their athleticism,
								training and national prowess. Winning a Gold Medal-or even a Medal-at the Olympics is a long sought goal
								for many nations, while for the Great Powers; their desire lies in dominating the medals table.
								For smaller nations, an Olympic Medal signifies “arrival” on the international stage, while the Great Powers
								see geopolitical superiority in unrivaled victory. Consequently, all nations seek to preform as best as possible.
								Having considered this mentality, Olympic medals serve as a good indicator of a country’s ability to follow through
								on its desire, how “proud” its people are (assuming that country’s citizenry derives joy from winning), and how
								developed a country’s logistics and organization are. If a country can follow through on its goals, it becomes a
								valuable partner on diplomatic or economic ventures and can be taken more seriously on its word in the
								international arena. If a country’s people are proud, they’re less likely to back down in a confrontation or be
								accepting of minimalist positions in areas of interest. If a country has the capacity to train a variety of
								athletes in different skills, over many years, its society can be thought of as forward thinking, logistically
								competent, and world class-skills that carry over into economic and security arenas.</p>
						</div>
						<div class="image">
							<img src="../static/images/teamUSAPrestige.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Nobel Prizes</h2>
							<p>A <a href="https://www.nobelprize.org/nobel_prizes/lists/all/">Nobel Prize</a> represents unparalleled preeminence in its represented fields,
								and is considered a great honor for an individual to hold, as well as for that individual’s home country.
								Like Olympic medals, some nations have received far more than others. For many states, being awarded their
								first Nobel Prize would elicit great acclaim-for Great Powers; dominating the awards is recognized as the goal.
								Winning a Nobel Prize usually entails sustained and dedicated investment in science and research or a rich
								culture and literary heritage. Consequently, winning a prize can be viewed as a multiyear effort to foster
								excellence and the overcoming of many logistical hurdles.</p>
						</div>
						<div class="image">
							<img src="../static/images/NobelPrizePrestige.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Billionaires</h2>
							<p>A country’s ability to create and retain its <a href="https://en.wikipedia.org/wiki/List_of_countries_by_the_number_of_billionaires">wealthiest</a>, speaks volumes about the productive capacity
								of the country and its overall society. Aside from those who derive their wealth from a historically
								wealthy monarchy, most billionaires made their fortune and owe their success in some part to the
								country where they made it.  In effect countries with a high number of billionaires-at the bare minimum,
								have lots of money-they additionally have individuals with significant sway, a productive economy,
								and a government that isn’t horribly repulsive. All aspects of latent national power.</p>
						</div>
						<div class="image">
							<img src="../static/images/BillionairesForbesPrestige.jpg" alt="" />
						</div>
					</section>



				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/QuantPolitik" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/woodsington" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.linkedin.com/in/josh-woods-65b26549/" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://github.com/cofax48/QuantPolitik" class="icon style2 fa-github"><span class="label">Github</span></a></li>
								<li><a href="cofx48@uchicago.edu" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; 2017. QuantPolitik.</p>
						</div>
					</footer>

				</div>
			</div>

	<script src="../static/assets/js/d3.min.js"></script>
	<script src="../static/assets/js/DropdownButton.js"></script>
	</body>
</html>

<!--
	Inspired by HTML5 UP's Story html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
