<!DOCTYPE HTML>
<html>
	<head>
		<title>Security</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../static/assets/css/BRmain.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a id="Analysis" href="AreasofAnalysis"> &#8744; Areas of Analysis</a>
								<ul class="maList" style="user-select: text; display: list-item; list-style-type: none; float: left;position: absolute; padding: 8px 5px 3px 5px; background-color: #034a7f;">
									<li style="white-space: nowrap;"><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
									<li style="white-space: nowrap;"><a href="BusinessRelations">Business Relations</a></li>
									<li style="white-space: nowrap;"><a href="CountryProfile">Country Profile</a></li>
									<li style="white-space: nowrap;"><a href="CulturalDiffusion">Cultural Diffusion</a></li>
									<li style="white-space: nowrap;"><a href="GovernmentalPerspective">Gov Perspective</a></li>
									<li style="white-space: nowrap;"><a href="Prestige">Prestige</a></li>
									<li style="white-space: nowrap;"><a href="Security">Security</a></li>
									<li style="white-space: nowrap;"><a href="TradeRelations">Trade Relations</a></li>
								</ul>
							</li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>

				<div id="errythingElse">
				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Security</h1>
							<p class="major"><!--[-->In this domain, America’s Security relationships are evaluated, taking into account,
								which countries host US Military forces, whether or not they enhance or subtract from their Security environment,
								 their potential for aggressive confrontation and shared multilateral organization.
								 This domain seeks to evaluate whether or not the selected country is powerful or not and if they are
								 receptive to US military Interests. High scorers are powerful and capable nations that are receptive to US interests,
								 while low scorers are weak countries that are less receptive to US forces.<!--]--></p>
						</div>
						<div class="image">
							<img src="../static/images/CBGSec.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Military Power</h2>
							<p>Military power measures two key variables, <a href="https://www.dmdc.osd.mil/appj/dwp/rest/download?fileName=DMDC_Website_Location_Report_1612.xlsx&groupName=milRegionCountry">how many of country A’s troops are stationed in Country B</a>,
								 and how many bases Country A has in Country B.  The relevance is obvious. The more troops stationed
								 in that country, the closer the two countries must be in order to sustain such a level of support.
								 While both countries will also have a continuing desire to maintain close ties as-military personnel
								 are stationed there. Additionally, the stationing of any deployment is evidence of close ties in the
								 first place and is an important measurement. The second aspect of the <a href="http://www.kritisches-netzwerk.de/sites/default/files/us_department_of_defense_-_base_structure_report_fiscal_year_2015_baseline_-_as_of_30_sept_2014_-_a_summary_of_the_real_property_inventory_-_206_pages.pdf">number of bases</a> measures the
								 permeating influence of Country A, whether their presence is isolated to one base, or widely dispersed
								 throughout the countryside, therefore a country with a high score in this field, hosts a significant
								 number of military personnel over a dispersed area-thus necessitating very close ties between both states.</p>
						</div>
						<div class="image">
							<img src="../static/images/USJapanSec.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Foreign Power</h2>
							<p>This sub-domain evaluates how much each country <a href="http://data.worldbank.org/indicator/MS.MIL.XPND.GD.ZS">spends on their military</a> and how many <a href="http://data.worldbank.org/indicator/MS.MIL.TOTL.P1">standing personnel
								 they have in their armed forces</a>. The total dollars spent per annum on defense can be a useful metric
								 for evaluating raw power capabilities, as the more a country spends on defense the more they can afford to do.
								  Obviously just because a country spends significant sums on defense does not necessarily mean that their
									forces are second-to-none, but it does mean that at a minimum their kit will be up to snuff.
									In this vein, the number of standing personnel in their armed forces is a useful metric of raw power
									capabilities, but not of power projection (they still need the ability to transport their forces),
									or of military efficiency/capability. However, it can be stated that the more troops one has at their
									disposal the more things they can do, and the more a country can do, the greater the imperative for
									closer relations.</p>
						</div>
						<div class="image">
							<img src="../static/images/ChinaIsraelSec.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Nuclear Technology</h2>
							<p>This sub-domain evaluates whether or not <a href="https://en.wikipedia.org/wiki/List_of_states_with_nuclear_weapons">a country has nuclear weapons</a>,
								and if so whether or not that country’s nuclear program is benign, yet capable of striking Country A
								(in which case Country B receives 4 points), whether or not Country B hosts Country A’s nuclear weapons
								(in which case Country B receives 3.5 points-usually through NATO), whether Country B’s nuclear program
								is benign-yet lacks the capability of striking Country A (in which case Country B receives 3 points).
								If Country B has no nuclear program it receives 2 points, and if their nuclear program is viewed as
								antagonistic to Country A, it receives 0 points. </p>
						</div>
						<div class="image">
							<img src="../static/images/NorthKoreaNukeSec.jpg" alt="" />
						</div>
					</section>

				<!-- Five -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Alliance Climate</h2>
							<p>In this area the number of alliances, intergovernmental and multilateral organizations shared
								by both Country A and Country B are evaluated. The sampled multilateral organizations are: <a href="http://www.nato.int/cps/en/natohq/nato_countries.htm">NATO</a>,
								the <a href="https://www.wto.org/english/thewto_e/whatis_e/tif_e/org6_e.htm">WTO</a>, the <a href="https://www.imf.org/external/np/sec/memdir/memdate.htm">IMF</a>, <a href="http://www.oas.org/en/about/member_states.asp">OAS</a>, <a href="http://g20.org.tr/about-g20/g20-members/">G20</a>,
								G8/7, <a href="http://www.oecd.org/about/membersandpartners/list-oecd-member-countries.htm">OECD</a>, <a href="https://en.wikipedia.org/wiki/ECHELON">ECHELON</a>, and <a href="http://www.apec.org/About-Us/About-APEC/Member-Economies">APEC</a>; in later versions of this project a
								more exhaustive list will be formulated. While <a href="https://en.wikipedia.org/wiki/Defense_pact">Alliances</a>
								 are coded according to whether either
								country has a multual defense pact with the other, or a collectiv secuity arrangement. If a country also has an intelligence alliance (Five Eyes),
								they receive an additional 5 points.</p>
						</div>
						<div class="image">
							<img src="../static/images/nato-meetingSec.jpg" alt="" />
						</div>
					</section>

			<!-- Four -->
				<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>Composite Rankings</h2>
						<p>This sub-domain incorporates the “<a href="http://cow.dss.ucdavis.edu/data-sets/national-material-capabilities/national-material-capabilities-v4-0">Composite Index of National Capability</a>” which tabulates each country’s
							capability to prosecute hostilities, based on factors such as size, population, industrial capacity and
							military strength. The <a href="http://visionofhumanity.org/app/uploads/2017/02/GPI-2016-Report_2.pdf">Global Peace index</a> comes from the Institute for Economics and Peace and measures
							a country’s proclivity for violence and its commitment to peace.</p>
					</div>
					<div class="image">
						<img src="../static/images/pharma-life-sciences-stocks.jpg" alt="" />
					</div>
				</section>


				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/QuantPolitik" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/woodsington" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.linkedin.com/in/josh-woods-65b26549/" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://github.com/cofax48/QuantPolitik" class="icon style2 fa-github"><span class="label">Github</span></a></li>
								<li><a href="mailto:cofax48@uchicago.edu?Subject=QuantPolitik%20Discussion" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; 2017. QuantPolitik.</p>
						</div>
					</footer>

				</div>
			</div>

	<script src="../static/assets/js/d3.min.js"></script>
	<script src="../static/assets/js/DropdownButton.js"></script>
	</body>
</html>

<!--
	Inspired by HTML5 UP's Story html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
