<!DOCTYPE HTML>
<html>
	<head>
		<title>QuantPolitik's DataDashBoard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link  href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >

		<link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >
		<link rel="stylesheet" href="../static/assets/css/dataDashboard.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a href="AreasofAnalysis">Areas of Analysis</a></li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
          </div>
          <!-- /top tiles -->
					<br>
					<br>
					<br>
					<br>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">
								<h1>Below are the Categories of QuantPolitik's Scoring System</h1>
									<h2>Click a category button to see all the variables in the category.</h2>
                <div class="row x_title">
                  <div class="col-md-6">
                    <div id="controls" align="top"/>
                  </div>
                </div>

								<br>
				        <br>
				        <div id="reportrange" class="pull-right">
								</div>
				        <br>
                <div class="col-md-9 col-sm-9 col-xs-12">
						      <span class="image featured"><svg id="ChoroplethMap" style="width:100%;height:75%" />
									</span>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                    <div id="ChoroplethMaplegend"></div>
                  </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

        <!--
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div id="qpBubbles"></div>
        -->


        </div>
      </div>

		<div id="CountryInfoboxDisplay">
			stuff</div>
			</div>

    <!--CDN Stuff-->
    <script src="../static/assets/js/d3.min.js"></script>
		<script src="../static/assets/js/topojson.min.js"></script>
		<!--<script href="//cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>-->
		<script src=https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js></script>
    <script src="../static/assets/js/colorbrewer.js"></script>
    <script src="../static/assets/js/mapButtonsAndData.js"></script>

		<!--Icon Accreditation
		<div>Icons made by <a href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
		<div>Icons made by <a href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

  </body>
</html>
