<!DOCTYPE HTML>
<html>
	<head>
		<title>Trade Relations</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/BRmain.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<div id="header-wrap">
					<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="TheAlgorithm">The Algorithm</a></li>
								<li><a href="about">About Us</a></li>
								<li><a href="TheTech">QuantPolitik Tech</a></li>
								<li><a id="Analysis" href="AreasofAnalysis"> &#8744; Areas of Analysis</a>
								<ul class="maList" style="user-select: text; display: list-item; list-style-type: none; float: left;position: absolute; padding: 8px 5px 3px 5px; background-color: #034a7f;">
									<li style="white-space: nowrap;"><a href="BureaucraticExchange">Bureaucratic Exchange</a></li>
									<li style="white-space: nowrap;"><a href="BusinessRelations">Business Relations</a></li>
									<li style="white-space: nowrap;"><a href="CountryProfile">Country Profile</a></li>
									<li style="white-space: nowrap;"><a href="CulturalDiffusion">Cultural Diffusion</a></li>
									<li style="white-space: nowrap;"><a href="GovernmentalPerspective">Gov Perspective</a></li>
									<li style="white-space: nowrap;"><a href="Prestige">Prestige</a></li>
									<li style="white-space: nowrap;"><a href="Security">Security</a></li>
									<li style="white-space: nowrap;"><a href="TradeRelations">Trade Relations</a></li>
								</ul>
							</li>
								<li><a href="datadashboard">Data Dashboard</a></li>
							</ul>
						</nav>
					</header>
				</div>

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Trade Relations</h1>
							<p class="major"><!--[-->The area of analysis where a nation's receptiveness to trade and the the previous half decade's trading history is evaluated.<!--]--></p>
							<ul class="actions vertical">
								<li><a href="references#Business Relations" class="button big wide smooth-scroll-middle">View the Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/ContainerShippingTR.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Trade Climate</h2>
							<p>In this area, a nation's receptiveness to trade is evalauted. The logic stemming from the "Capitalist Peace Theory", in that nations that trade more, have more at stake, and are thus less likely to go to war.
								Additionally, the larger the mor receptive a nation is to trade, the more likely they are going to trade with on another. Such an incrasd likelihood, additionally increases the number of areas where contact may flourish and the number of sectors which may become entangled.
								Greater contact, entanglement, and capital flows leads to more individuals having closer relations, and a greater imperative for each government to maintain ever closer ties.
								Therefore, the components under consideration are: <br>
								Foreign Direct Investment, Trading Across Borders, GDP Growth Rate, Fortune Global 500, Trade Freedom, Change in Trade Freedom from 2015, and Stock Market Capitalization in billions</p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/Nafta.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Trade Data</h2>
							<p>In this area, the simple trade volume in dollars is evalauted and is unwieghted by a country's size or any other value.<br>
								 Therefore, the components under consideration are: <br>
								 Imports and Exports for the last 5 years.</p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Sources</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../static/images/ShippingRoutesTR.jpg"  alt="" />
						</div>
					</section>
				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; 2017. QuantPolitik.</p>
						</div>
					</footer>

			</div>
	<script src="../static/assets/js/d3.min.js"></script>
	<script src="../static/assets/js/DropdownButton.js"></script>
	</body>
</html>

<!--
	Inspired by HTML5 UP's Story html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
