body {
  font-family: "Times New Roman", Times, serif;
  background: #c66039;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

a:link {
  color: royalblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


div#title {
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  top: 0px;
}

div#individual-variable {
  position: absolute;
  top: 40px;
  left: 600px;
}

div#qpcore {
  position: absolute;
  top:50px;
}

div#cat-select {
  position: absolute;;
  top: 40px;
  left: 200px;
}


div#country-select {
  position: absolute;;
  top: 30px;
  left: 0px;
}

div#metric-radio {
  position: absolute;
  top: 40px;
  left: 400px;
}

metric-radio#label {
  position: fixed;
  top: auto;
  left: 500px;
}


div#info {
  position: absolute;
  font-size: 11px;
  top: 50px;
  width: 300px;
  right: 0px;
}

div#qp-map svg {
  position: absolute;;
  left: 0px;
  top: 200px;
}

div#qpscore {
  position: absolute;
  top: 700px;
  width: 700px;
}

div#qpBubbles {
  position: absolute;
  top: 700px;
  width: 700px;
}
div#qpBarChart {
  position: absolute;
  top: 1100px;
  width: 700px;
}

div#qpCoreChoroplethMap {
  position: absolute;
  top: 250px;
  width: 700px;
}

div#controls {
  position: relative;;
  top: 100px;
  left: 0px;
}

div#ChoroplethMaplegend {
  position: absolute;
  top: 250px;
  left: 1000px;
}

select.select {
  position: absolute;
  top: 50px;
  left:0px;
}
